*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  min-height: 100vh; 
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/background.png');
  background-size: cover;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 1px;
  font-size: 14px;
  color: white;
}
.footer a{
  text-decoration: none;
  color: lightblue;
  font-weight: 600;
}


@media screen and (max-width: 450px){
  .footer {
    font-size: 8px;
  }
}
